<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href= " {%static 'css/style.css' %} ">
</head>
<body>
    <div class='jumbotron'>
        <div class = 'container'>
            {% block child_block %}
            {% endblock %}
        </div>
    
</body>
</html>